* {
  font-family: Source Sans Pro, sans-serif;
}

:root {
  --color-blue-weak: #d8e5e7;
  --color-gold: #e6b450;
  --color-gold-weak: #faf0d7;
  --color-gray-dark: #4a4a49;
  --color-green: #82b4a0;
  --color-green-weak: #d7f0e6;
  --color-gray-weak: #f3f3f3;
  --color-blue: #4a6f7d;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: white;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.btn {
  height: 62px;
  width: 240px;
  background-color: var(--color-gold);
  color: var(--color-gold-weak);
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

nav {
  height: 68px;
  width: 100%;
  background-color: white;
}

nav img {
  position: relative;
  width: 50%;
  top: 16px;
  left: 20px;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 68px);
  color: var(--color-blue-weak);
}

.heroContainer > * {
  position: absolute;
}

.heroContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heroContainer div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainer div > * {
  margin: 0;
  text-align: center;
}

.heroContainer div p {
  margin-top: 40%;
}

.heroContainer h1 {
  margin-top: 25%;
  width: 87%;
}

.heroContainer p {
  margin-top: 10%;
  width: 75%;
}

.heroContainer button {
  position: absolute;
  bottom: 13%;
  width: 75%;
}

.section1 {
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 p {
  margin: 0;
  width: 75%;
  color: var(--color-gray-dark);
  line-height: 132%;
}

.carouselContainer {
  height: 65vh;
  width: 100%;
  overflow-x: scroll;
}
.carouselContainer_cardWrapper {
  height: 100%;
  width: calc(8 * 260px);
  display: flex;
  /* do with js instead if time*/
  padding-left: 30px;
}
.card {
  height: 318px;
  width: 240px;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0px 2.72883px 18.1922px rgba(0, 0, 0, 0.25);
}

.card_imageContainer {
  height: 71%;
  width: 100%;
  /* border-radius: 0 0 8px 8px; */
}

.card_imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card_textContainer {
  height: 29%;
  width: 100%;
  color: var(--color-gray-dark);
  text-align: center;
}

.card_textContainer p {
  margin: none;
}

.divider {
  height: 80px;
  width: 100%;
  background-color: var(--color-green);
  color: var(--color-green-weak);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider div {
  background-color: white;
  color: black;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  height: 100vh;
  width: 100%;
  color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 h2 {
  margin-bottom: 15px;
}

.section2 div {
  position: relative;
  margin-top: 20px;
  height: 50px;
  width: 87%;
  background-color: var(--color-gray-weak);
  border-radius: 8px;
  padding-left: 20px;
}

.section2 div svg {
  position: absolute;
  top: 22px;
  right: 22px;
}

.section2 div.active {
  height: 34%;
}

.section3 {
  height: 67vh;
  width: 100%;
  background-color: var(--color-blue);
  color: var(--color-blue-weak);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8%;
}

.section3 h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.section3 p {
  margin-top: 0;
  margin-bottom: 40px;
}

.section4 {
  color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4 h2 {
  width: 82%;
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: unset;
  text-align: center;
}

.section4 p {
  padding: 0 40px;
  margin-top: 0;
  line-height: 132%;
}

.section4 div {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 28px;
}

.section4 div p {
  padding: 0;
  margin-left: 20px;
  padding-top: 10px;
}

.section4 div div {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
}
